<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jboss.tools.byteman.ui.internal.editor.BytemanEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="btm"
            icon="icons/sample.gif"
            id="org.jboss.tools.byteman.ui.editors.BytemanEditor"
            name="Byteman Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.jboss.tools.byteman.ui.tabs.BytemanLaunchConfigurationTab"
            group="org.eclipse.jdt.debug.ui.launchConfigurationTabGroup.localJavaApplication"
            id="org.jboss.tools.byteman.ui.tabs.launchJavaApplication"
            name="Byteman">
         <placement
               after="org.eclipse.debug.ui.CommonTab">
         </placement>
      </tab>
   </extension>

</plugin>
